:root {
  --gold: #c5a059;
}

body {
  font-family: "Tajawal", sans-serif;
  scroll-behavior: smooth;
}

.font-amiri {
  font-family: "Amiri", serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 10px;
}

.surah-btn-done {
  background-color: var(--gold) !important;
  color: white !important;
  border-color: var(--gold) !important;
}

audio {
  width: 100%;
  height: 32px;
  margin-top: 12px;
  filter: grayscale(100%) opacity(0.7);
  transition: 0.3s;
}

audio:hover {
  filter: grayscale(0%) opacity(1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-card {
  animation: fadeInUp 0.4s ease backwards;
}

.prayer-card {
  transition: all 0.3s ease;
  border-right: 4px solid var(--gold);
}

.prayer-card:hover {
  background-color: rgba(197, 160, 89, 0.1);
  transform: scale(1.02);
}
