:root {
  --gold: #c5a059;
}

body {
  font-family: "Tajawal", sans-serif;
  scroll-behavior: smooth;
}

.font-amiri {
  font-family: "Amiri", serif;
}

::selection {
  background: var(--gold);
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 10px;
}

.dark audio {
  filter: invert(0.9) hue-rotate(180deg) brightness(1.1);
}

.part-btn-done {
  background-color: var(--gold) !important;
  color: white !important;
  border-color: var(--gold) !important;
}

.surah-card:hover {
  border-color: var(--gold);
  transform: translateY(-3px);
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.profile-img {
  transition: all 0.5s ease;
  filter: grayscale(30%);
}

.profile-img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  border-color: var(--gold);
}
